#screen{
    background-color: gray;
    height: 30px;
    text-align: right;
    width: 120px;
    padding: 2px;
    scroll-behavior: auto;
}

.l1,
.l2,
.l3,
.l4{
    display: flex;
}

.pavé button{
    width: 30px;
    height: 30px;
}